# Ignore the virtual environment directory
.venv/

# Ignore the specific input folder for Day 1
Day1/input/
Day2/input/
Day3/input/
Day4/input/
Day5/input/
Day6/input/
Day7/input/
Day8/input/
Day9/input/
Day10/input/
Day11/input/
Day12/input/